/* 
Main css
Viborarda ver. 0.0.1
*/

body {
  font-family: "Press Start 2P", cursive;
  background: #000;
  text-align: center;
  margin: 0;
}

h2,
h3 {
  line-height: 0;
  margin-right: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

canvas {
  border: solid 4px #656774;
  background: #8aac0f;
  box-shadow: 1px 1px 5px #656774;
}

@media only screen and (max-width: 400px) {
  canvas {
    width: 250px;
  }
}

.puntaje {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

div.puntaje:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 400px) {
  .puntaje {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.arrows {
  margin: 10px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 5%);
  grid-gap: 5px;
  grid-auto-rows: minmax(10px, auto);
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 400px) {
  .arrows {
    margin-top: 15px;
    grid-auto-flow: row;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 20%);
    grid-auto-rows: 20px;
  }
}

#flechaIzq {
  grid-column: 1/2;
  grid-row: 2;
}
#flechaArriba {
  grid-column: 2/3;
  grid-row: 1;
}
#flechaAbajo {
  grid-column: 2/3;
  grid-row: 2;
}
#flechaDer {
  grid-column: 3/4;
  grid-row: 2;
}
